<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="UTF-8" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Aceite do contrado</title>
        <style>
            * {
                margin: 0;
                color: #555;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                box-sizing: border-box;
            }

            .marca-dagua {
                margin-left: auto;
                margin-right: auto;
                background: linear-gradient(335deg, #250059 5%, #f7eff8 60%);
                height: 100vh;
                padding: 10px;
                overflow-y: hidden;
            }

            .botao {
                background: rgb(86, 160, 12);
                box-shadow: 0px 0px 5px  rgba(15, 15, 15, 0.5);
                padding: 10px;
                border-radius: 5px;
                width: 350px;
                font-size: 25px;
                border: 2px #fff;
                margin-left: auto;
                margin-right: auto;
                cursor: pointer;
                transition: 200ms ease-in-out all;
            }

            .botao:hover{
                scale: 1.2;
            }

            a {
                text-decoration: none;
            }
        </style>
    </head>

    <body>

        <div class="marca-dagua">
            <div style="text-align: center;">
                <div style="text-align: left;">
                    <h3>Zoom Tecnologia</h3>
                </div>
                <div style="margin-top: 20vh; font-size: 20pt; font-weight: bold; text-align: center;">
                    Contrato de Cessão de Uso do Sistema de Automação Comercial
                    <p style="margin-top: 10px" th:text="${razaoSocial}"></p>
                    <p style="margin-top: 10px" th:text="${cnpj}"></p>
                </div>
                <div style="margin-top: 10vh; font-size: 15pt;">
                    Click em visualizar contrato.
                </div>
                <div style="text-align: center;">
                    <a th:href="${link}" target="_blank">
                        <div class="botao" style="margin-top: 10vh;text-align: center;color: #fff;">Visualizar Contrato</div>
                    </a>
                </div>
            </div>
        </div>

    </body>

</html>