<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Aceite do contrado</title>
    <style>
        * {
            margin: 0;
            color: #555;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            box-sizing: border-box;
        }

        .marca-dagua {
            margin-left: auto;
            margin-right: auto;
            background: linear-gradient(335deg, #250059 5%, #f7eff8 60%);
            height: 100vh;
            padding: 10px;
            overflow-y: hidden;
        }

        .botao {
            background: rgb(86, 160, 12);
            box-shadow: 0px 0px 5px  rgba(15, 15, 15, 0.5);
            padding: 10px;
            border-radius: 5px;
            width: 350px;
            font-size: 25px;
            border: 2px #fff;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            transition: 200ms ease-in-out all;
        }

        .botao:hover{
            scale: 1.2;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>

    <div class="marca-dagua">
        <div>
            <div style="font-size: 15pt; text-align: left;">
                <h2 style="width: 100vw;">
                    Dados de acesso ao sistema</h2>
                <div style="margin-top: 100px;padding-bottom: 30px;padding:2rem">
                    <div>
                        <p style="margin-top: 10px;font-size: 1rem;" th:text="${cnpj}"></p>
                    </div>
                    <div>
                        <p style="font-weight: bold; font-size: 1.2rem;" th:text="${razaoSocial}"></p>
                    </div>
                    <hr>
                    <div style="margin-top: 50px;">
                        <small>Grupo:</small>
                        <p style="font-weight: bold;" th:text="${grupo}"></p>
                    </div>
                    <div style="margin-top: 50px;">
                        <small>Usuário:</small>
                        <p style="font-weight: bold;" th:text="${usuario}"></p>
                    </div>
                    <div style="margin-top: 50px;">
                        <small>Senha:</small>
                        <p style="font-weight: bold;" th:text="${senha}"></p>
                    </div>
                    <div style="text-align: center;">
                        <p style="margin-bottom: 20px;">Click abaixo para acessar o sistema.</p>
                        <div style="text-align: center;">
                            <a class="botao" href="https://zion.zoomtecnologia.com" target="_blank"
                                style="display: inline-block; color: #fff; background-color: #239251; padding: .5rem;border-radius: .5rem;width:200px;">
                                Acessar
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>