<!DOCTYPE html>
<html lang="pt-Br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=3Dutf-8"/>
        <meta name="viewport" content="width=3Ddevice-width"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="UTF-8"/>
        <style>
            .card {
                margin-left: auto;
                margin-right: auto;
                background-color: #f8f9fc;
                padding: 20px;
                color: #858796;
                border-radius: 3px;
            }

            .text-left {
                text-align: left;
            }

            .text-right {
                text-align: right;
            }

            .text-center {
                text-align: right;
            }
            .badge{
                display: inline-block;
                padding: .25em .4em;
                font-size: 75%;
                font-weight: 700;
                line-height: 1;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: .25rem;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }
            .badge-primary{
                background-color: #007bff;      
                color:#fff;
            }
            .badge-success {
                color: #fff;
                background-color: #28a745;
            }
            .list-group {
                display: inline-block;
                width: 100%;
                padding-left: 0;
                margin-bottom: 0;
                border-radius: .25rem;
            }

            .list-group-item {
                position: relative;
                display: block;
                padding: .75rem 1.25rem;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, .125);
            }

            .list-group-item:first-child {
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
            }

            a {
                text-decoration: none;
                background-color: transparent;
            }
        </style>
    </head>
    <body>      
        <div class="card">
            <h3>Solicitação de pagamento</h3>
            <h4>Código <span th:text="${solicitacao.codigoSolicitacao}"></span></h4>
            <h4>Valor R$ <span th:text="${#numbers.formatDecimal(solicitacao.totalSolicitacao,0,'POINT',2,'COMMA')}"></span></h4>
            <h4 th:text="${solicitacao.nomeRepresentante}"></h4>
            <h5>Data solicitação <span th:text="${solicitacao.dataSolicitacao}"></span> </h5>
            <h5>Data Pagamento <span th:text="${solicitacao.dataPagamento}"></span> </h5>
            <span style="font-size: 12pt" th:class="${solicitacao.comissaoPaga ? 'badge badge-success' : 'badge badge-primary'}" th:text="${solicitacao.comissaoPaga ? 'Pago' : 'Solicitado'}"></span>
            <hr />
            <div class="list-group">
                <li class="list-group-item list-group-item-action" th:each="comissao : ${comissoes}">
                    <div>
                        <h5 th:text="${comissao.razaoSocial}"></h5>
                        Vencimento: <small th:text="${comissao.data}"></small>
                    </div>
                    <p th:text="${comissao.tipo}"></p>
                    <span>Comissão: R$ </span> <span th:text="${#numbers.formatDecimal(comissao.valor,0,'POINT',2,'COMMA')}"></span>
                    <span th:text="${comissao.tipo}"></span>: R$ <span th:text="${#numbers.formatDecimal(comissao.valorReferente,0,'POINT',2,'COMMA')}"></span>
                </li>
            </div>
        </div>   
    </body>

</html>